@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:400,500,600,700|Rozha+One');

$main-font: 'Palanquin Dark', sans-serif;
$aside-font: 'Rozha One', serif;
$white: #fff;
$blue: #348db2;
$grey: #e5e5e5;
$dark-grey: #808080;

* {
	box-sizing: border-box;
}

body {
	font: 100% $main-font;
	margin: 0;
	padding: 0;
	font-weight: 500;
}

/*main*/
.container {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
.content {	
	margin: 0 auto;
	max-width: 950px;
	width: 100%;
	text-align: justify;
}

/* about section*/
.about {
	padding-left: 1%;
	h1 {
		font-size: 56px;
		font-weight: 500;
		position: relative;
		&::after {
			display: inline-block;
			background: $blue;
			width: 20%;
			height: 3px;
			position: absolute;
			content: "";
			line-height: 56px;
			margin-left: 30px;
			top: 56px;
		}
	}
	.intro {
		.social {
			margin: 0;
			padding: 0;
			float: left;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			width: 8%;
			position: relative;
			padding-top: 70px;
			padding-bottom: 70px;
			a {		
				img {
					width: 12px;
					margin: 8px 0;
					&:hover {
						-ms-transform: scale(1.8);
						-webkit-transform: scale(1.8);
						transform: scale(1.8);
					}
				}
				&::before {
					background: $grey;
					width: 1px;
					height: 50px;
					position: absolute;
					content: "";
					left: 6%;
					top: 4%;
					cursor: none;
				}
				&::after {
				    background: $grey;
					width: 1px;
					height: 165px;
					position: absolute;
					content: "";
					left: 6%;
					bottom: -43%;
					cursor: none;
				}
			}
		}
		p:first-child {
			font-size: 24px;
			font-weight: 600;
			word-spacing: 10px;
			line-height: 50px;
			margin: 0;
		}
		p:nth-child(2) {
			font-size: 16px;
			word-spacing: 5px;
			font-weight: 500;
			margin: 6vh 0 3vh;
		}
	}
}

/*description section */
.description {
	margin-bottom: 5vh;
	.content {
		position: relative;
	}
	p {
		word-spacing: 5px;
		margin: 0;
	}
	.float-aside {
		margin: 0 -100px 3vh 0;
		.aside {
			h3 {
				font: 100% $main-font;
				font-size: 32px;
				position: relative;
				margin: 25px 0 50px;
				&::after {
					display: block;
					background: $blue;
					width: 70px;
					height: 3px;
					position: absolute;
					content: "";
					top: 60px;
				}
			}
			font: 100% $aside-font;
			float: right;
			width: 200px;
			font-size: 18px;
			text-align: left;
			word-spacing: 4px;
		}
		p {
			width: 75%;
		}
	}
	.cms-notes {
		.note-top {
			font: 100% $aside-font;
			font-size: 14px;
			color: red;
			width: 10vw;
			position: absolute;
			right: -22%;
			word-spacing: 1px;
			text-align: left;
			margin-left: 15px;
			margin-bottom: 10px;
			display: flex;
			img {
				background-repeat: no-repeat;
				width: 8%;
				height: 8%;
				display: inline-block;
				background-size: contain;
				font-size: 0;
			}
			.note-text {
				margin-left: 15px;
			}
		}
		.note-bottom {
			font: 100% $aside-font;
			font-size: 14px;
			color: red;
			width: 10vw;
			position: absolute;
			right: -25%;
			bottom: 10%;
			word-spacing: 1px;
			text-align: left;
			margin-top: 10px;
		}
	}
}
/*booking section*/
.booking {
	background: url('assets/booking_bg.png') 0/cover no-repeat;
	height: 90vh;
	width: 100%;
	margin: 0 auto;
	padding-top: 4vh;
	h2 {
		margin: 0 0 6vh;
		padding: 0;
		color: $white;
		font-size: 75px;
		font-weight: 400;
		position: relative;
		&::after {
			display: inline-block;
			background: $white;
			width: 195px;
			height: 3px;
			position: absolute;
			content: "";
			line-height: 75px;
			margin-left: 40px;
			top: 75px;
		}
	}
	.reservation-box {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid red;
		.calendar {
			color: $white;
			border-radius: 20px;
			padding: 30px 0;
			background-color: rgba(0, 0, 0, .5);
			max-width: 49%;
			
			.month {
				width: 100%;
				text-align: center;
				padding: 25px 160px 20px;
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					li {
						font-size: 20px;
					}
				}
				.prev {
					float: left;
				}
				.next {
					float: right;
				}
			}
			.weekdays {
				margin: 0;
    			padding: 10px 50px;
    			list-style-type: none;
    			display: flex;
    			justify-content: space-around;
				align-items: center;
    			li {
    				text-align: center;
    			}
			}
			.days {
			    padding: 10px 50px;
			    margin: 0;
			    list-style-type: none;
			    li {
			    	list-style-type: none;
				    display: inline-block;
				    width: 13%;
				    text-align: center;
				    margin-bottom: 18px;
				    font-size: 16px;
				    position: relative;
				    .active {
				    	padding: 5px 10px;
					    background: $blue;
					    color: $white !important;
					    border-radius: 50%;
					}
				}
			}
		}


	}
}

@media (max-width: 991px) {
	.container {
		margin: 0 auto;
		width: 750px;
		width: 100%;
		padding: 0 5%;
	}
	.content {	
		margin: 0 auto;
		max-width: 750px;
		width: 100%;
		text-align: justify;
	}
	.about {
		h1 {
			margin-bottom: 5%;
		}
		.intro {
			.social {
				float: none;
				width: 35%;
				margin-bottom: 5%;
				padding: 0;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				a {
					margin: 0;
					padding: 0;
					img {
						width: 40%;
						margin: 0;
						padding: 0;
						&:hover {
							-ms-transform: scale(1.8);
							-webkit-transform: scale(1.8);
							transform: scale(1.8);
						}
					}
					&::before {
						display: none;
					}
					&::after {
						display: none;
					}
				}
			}
			p:first-child {
				margin-top: 5%;
			}
			p:nth-child(2) {
				font-size: 20px;
				margin: 3vh 0;
			}
		}
	}
	.description {
		margin-bottom: 25vh;
		p {
			font-size: 20px;
		}
		.float-aside {
			margin: 0 auto;
			.aside {
				float: none;
				width: 80%;
				font-size: 22px;
				margin: 0 auto;
				h3 {
					font-size: 38px;
					margin: 0 0 5%;
					&::after {
						top: 70px;
					}
				}
			}
			p {
				width: 100%;
				margin: 5% 0;
			}
		}
		img {
			max-width: 100%;
			height: auto;
		}
		.cms-notes {
			margin: 5% 0;
			.note-top {
				font-size: 18px;
				line-height: 18px;
				width: 100%;
				position: absolute;
				bottom: -3%;
				right: 0;
				border-top: 3px solid $dark-grey;
				padding-top: 2%;
				margin-bottom: 2vh;
				img {
					width: 2%;
					height: 2%;
					transform: rotate(90deg);
				}
				.note-text {
					margin-left: 15px;
				}
			}
			.note-bottom {
				font-size: 18px;
				line-height: 18px;
				width: 95.5%;
				position: absolute;
				bottom: -5%;
				right: 0;
				margin-top: 3vh;
				margin-bottom: 3vh;
				display: inline-block;
			}
		}
	}
	.booking {
		background: url('assets/booking_bg.png') center/cover no-repeat;
		height: auto;
		padding-top: 5vh 0;
		.content {
			margin: 0 auto;
			max-width: 95%;
		h2 {
			margin: 0 15%;
			&::after {
				max-width: 20%;
				height: 4px;
				margin-left: 10%;
			}
		}
		.reservation-box {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				.calendar {
					max-width: 100%;
					padding: 0;
					margin: 2vh 0;
					.month {
						padding: 25px 15vh 20px;
						ul {
							li {
								font-size: 36px;
							}
						}
					}
					.weekdays {
						font-size: 36px;
						padding: 10px 20px;
					}
					.days {
						
				    	padding: 10px 20px 20px;
				    	li {
				    		font-size: 28px;
				    		.active {
						    	padding: 3px 12px;
							    background: $blue;
							    color: $white !important;
							    border-radius: 50%;
							}
				    	}
				    }
				}
			}
		}
	}
		
}