@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark:400,500,600,700|Rozha+One");
* {
  box-sizing: border-box; }

body {
  font: 100% "Palanquin Dark", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 500; }

/*main*/
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; }

.content {
  margin: 0 auto;
  max-width: 950px;
  width: 100%;
  text-align: justify; }

/* about section*/
.about h1 {
  font-size: 56px;
  font-weight: 500;
  position: relative; }
  .about h1::after {
    display: inline-block;
    background: #348db2;
    width: 20%;
    height: 3px;
    position: absolute;
    content: "";
    line-height: 56px;
    margin-left: 30px;
    top: 56px; }
.about .intro .social {
  margin: 0;
  padding: 0;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 8%;
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px; }
  .about .intro .social a img {
    width: 12px;
    margin: 8px 0; }
    .about .intro .social a img:hover {
      -ms-transform: scale(1.8);
      -webkit-transform: scale(1.8);
      transform: scale(1.8); }
  .about .intro .social a::before {
    background: #e5e5e5;
    width: 1px;
    height: 50px;
    position: absolute;
    content: "";
    left: 6%;
    top: 4%;
    cursor: none; }
  .about .intro .social a::after {
    background: #e5e5e5;
    width: 1px;
    height: 165px;
    position: absolute;
    content: "";
    left: 6%;
    bottom: -43%;
    cursor: none; }
.about .intro p:first-child {
  font-size: 24px;
  font-weight: 600;
  word-spacing: 10px;
  line-height: 50px;
  margin: 0; }
.about .intro p:nth-child(2) {
  font-size: 16px;
  word-spacing: 5px;
  font-weight: 500;
  margin: 6vh 0 3vh; }

/*description section */
.description .content {
  position: relative; }
.description p {
  word-spacing: 5px;
  margin: 0; }
.description .float-aside {
  margin: 0 -100px 3vh 0; }
  .description .float-aside .aside {
    font: 100% "Rozha One", serif;
    float: right;
    width: 200px;
    font-size: 18px;
    text-align: left;
    word-spacing: 4px; }
    .description .float-aside .aside h3 {
      font: 100% "Palanquin Dark", sans-serif;
      font-size: 32px;
      position: relative;
      margin: 25px 0 50px; }
      .description .float-aside .aside h3::after {
        display: block;
        background: #348db2;
        width: 70px;
        height: 3px;
        position: absolute;
        content: "";
        top: 60px; }
  .description .float-aside p {
    width: 75%; }
.description .cms-notes .note-top {
  font: 100% "Rozha One", serif;
  font-size: 14px;
  color: red;
  width: 10vw;
  position: absolute;
  right: -22%;
  word-spacing: 1px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 10px;
  display: flex; }
  .description .cms-notes .note-top img {
    background-repeat: no-repeat;
    width: 8%;
    height: 8%;
    display: inline-block;
    background-size: contain;
    font-size: 0; }
  .description .cms-notes .note-top .note-par {
    margin-left: 15px; }
.description .cms-notes .note-bottom {
  font: 100% "Rozha One", serif;
  font-size: 14px;
  color: red;
  width: 10vw;
  position: absolute;
  right: -25%;
  bottom: 10%;
  word-spacing: 1px;
  text-align: left;
  margin-top: 10px; }

/*booking section*/
.booking {
  background: url("assets/booking_bg.png") 0/cover no-repeat;
  height: 90vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 4vh;
  overflow: hidden; }
  .booking h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 75px;
    font-weight: 400;
    position: relative; }
    .booking h2::after {
      display: inline-block;
      background: #fff;
      width: 195px;
      height: 3px;
      position: absolute;
      content: "";
      line-height: 75px;
      margin-left: 40px;
      top: 75px; }

/*# sourceMappingURL=styles.css.map */
